
.txtcoloblack{

	color: #000000;
}

.back{

	background-color: #EBEBEB;
}


.maxaltpubli{

	min-height: 80px;

}

.maxalt{

	min-height: 450px;
}

.backimg{

background: url('imagem/exame.jpg') center / cover;
min-height: 200px;

}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('imagem/exame.jpg') center / cover;

}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

